@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
	/* skilled breakpoints */
	--breakpoint-sm: 23.4375rem; /* 375px */
	--breakpoint-xl: 90rem; /* 1440px */

	/* skilled font */
	--font-plus-jakarta: "Plus Jakarta Sans", sans-serif;

	/* skilled colors */
	--color-skilled-blue-900: #13183f;
	--color-skilled-blue-600: #666ca3;
	--color-skilled-pink-600: #f7457d;
	--color-skilled-pink-300: #ffa8c4;
	--color-skilled-gray: #84879a;
	--color-skilled-white: #ffffff;

	/* skilled gradient-stops */
	--color-skilled-stops-orange: #ff6f48;
	--color-skilled-stops-pink: #f02aa6;
	--color-skilled-stops-purple: #4851ff;
	--color-skilled-stops-white: #ffffff;
	--color-skilled-stops-lavender: #f0f1ff;

	/* skilled drop-shadow */
	--drop-shadow-skilled: 0 25px 50px --alpha(#06168d / 5%);
}

@layer components {
	/* skilled container */
	.skilled-container {
		@apply px-5 md:px-11 xl:px-20;
		@apply mx-auto max-w-93.75 md:max-w-192 xl:max-w-320;
	}

	/* skilled grid */
	.skilled-grid {
		@apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
		@apply gap-x-4 md:gap-x-6 xl:gap-x-8;
	}

	/* skilled typo */
	.skilled-typo-1 {
		@apply text-[2.5rem] leading-[120%] font-extrabold;

		@variant xl {
			@apply text-[3.5rem];
		}
	}
	.skilled-typo-2 {
		@apply text-[2rem] leading-[120%] font-extrabold;

		@variant xl {
			@apply text-[2.5rem];
		}
	}
	.skilled-typo-3 {
		@apply text-2xl leading-[120%] font-extrabold;

		@variant xl {
			@apply text-[2rem];
		}
	}
	.skilled-typo-4 {
		@apply text-xl leading-[120%] font-extrabold;

		@variant xl {
			@apply text-2xl;
		}
	}
	.skilled-typo-5 {
		@apply text-lg leading-[150%] font-medium;
	}
	.skilled-typo-6 {
		@apply text-sm leading-[120%] font-bold;

		@variant xl {
			@apply text-base leading-[150%];
		}
	}
	.skilled-typo-7 {
		@apply text-lg leading-[150%] font-bold;
	}
	.skilled-typo-8 {
		@apply text-base leading-[150%] font-bold;
	}

	/* skilled logo */
	.skilled-logo {
		@apply h-5 object-cover;

		@variant xl {
			@apply h-7;
		}
	}

	/* skilled link */
	.skilled-link {
		@apply text-lg leading-[150%] font-bold text-[#f74780];

		@variant hover {
			@apply cursor-pointer text-[#ffa7c3];
		}
	}

	/* skilled buttons */
	.skilled-btn {
		@apply rounded-[1.75rem] text-lg leading-[150%] font-bold capitalize;

		@variant hover {
			@apply cursor-pointer;
		}
	}

	.skilled-btn--black {
		@apply bg-(--color-skilled-blue-900) text-(--color-skilled-white);

		@variant hover {
			@apply bg-(--color-skilled-blue-600);
		}
	}
	.skilled-btn--orange {
		@apply from-skilled-stops-orange to-skilled-stops-pink bg-linear-to-b text-(--color-skilled-white);

		@variant hover {
			background-image:
				linear-gradient(
					to bottom,
					--alpha(var(--color-skilled-stops-white) / 50%),
					--alpha(var(--color-skilled-stops-white) / 50%)
				),
				linear-gradient(
					to bottom,
					var(--color-skilled-stops-orange),
					var(--color-skilled-stops-pink)
				);
		}
	}
	.skilled-btn--purple {
		@apply from-skilled-stops-pink to-skilled-stops-purple bg-linear-to-b text-(--color-skilled-white);

		@variant hover {
			background-image:
				linear-gradient(
					to bottom,
					--alpha(var(--color-skilled-stops-white) / 50%),
					--alpha(var(--color-skilled-stops-white) / 50%)
				),
				linear-gradient(
					to bottom,
					var(--color-skilled-stops-pink),
					var(--color-skilled-stops-purple)
				);
		}
	}

	/* skilled dropshadow */
	.skilled-dropshadow {
		filter: drop-shadow(var(--drop-shadow-skilled));
	}

	/* skilled gradients */
	.skilled-gradient-orange-pink {
		@apply from-skilled-stops-orange to-skilled-stops-pink bg-linear-to-b;
	}
	.skilled-gradient-white-lavender {
		@apply from-skilled-stops-white to-skilled-stops-lavender bg-linear-to-b;
	}
}
